*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: hsl(27, 66%, 92%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#balance-section {
    background-color: hsl(10, 79%, 65%);
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    padding: 25px 20px;
    position: relative;
    margin: 4em 0 2em;
}

#balance-section p:first-child {
    font-size: 1rem;
    margin-bottom: 0.4em;
    font-weight: 400;
    color: hsl(27, 66%, 92%)
}

#balance-section p:nth-child(2) {
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
}

#logo {
    max-width: 100%;
    display: block;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

#spending-section {
    width: 90%;
    max-width: 500px;
    background-color: hsl(33, 100%, 98%);
    border-radius: 15px;
    padding: 30px 25px 20px;
    margin-bottom: 5em;
}

h1 {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 1.5em;
}

.day-container p:last-of-type {
    color: hsl(28, 10%, 53%);
    font-weight: 400;
    text-align: center;
}

.week {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 1.5em;
    border-bottom: 1px solid hsl(27, 66%, 92%);
    margin-bottom: 1.5em;
}

.day-container {
    width: 10%;
}

.day-container div {
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    cursor: pointer;
}

.day-container div:hover {
    background-color: hsla(10, 79%, 65%, 0.6);
}

.monday {
    height: 4em;
}

.tuesday {
    height: 7em;
}

div.wednesday {
    height: 10em;
    background-color: hsl(186, 34%, 60%);
    position: relative;
}

div.wednesday:hover {
    background-color: hsla(186, 34%, 60%, 0.6);
}

.thursday {
    height: 6em;
    position: relative;
}

.friday {
    height: 5em;
}

.saturday {
    height: 9em;
}

.sunday {
    height: 5em;
}

div.day-container p.box1, div.day-container p.box2 {
    background-color: hsl(25, 47%, 15%);
    border-radius: 5px;
    color: hsl(27, 66%, 92%);
    font-weight: 700;
    padding: 0.4em 0em;
    text-align: center;
    width: 150%;
    position: absolute;
    top: -45px;
    left: -25%;
}

.hover {
    display: none;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    /* background-color: aquamarine; */
}

.this-month p:first-child {
    color: hsl(28, 10%, 53%);
    font-size: 1.2rem;
}

.this-month p:last-child {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: 2.8rem;
}

.last-month p:first-child {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    margin-top: 1em;
    text-align: end;
}

.last-month p:last-child {
    color: hsl(28, 10%, 53%);
}

@media (max-width:720px) {
    h1 {
        font-size: 1.5rem;
        padding-left: 25px;
    }

    #spending-section {
        padding: 30px 0 20px;
    }

    .this-month p:first-child {
        font-size: 0.9rem;
    }

    .this-month p:last-child {
        font-size: 1.8rem;
    }

    .last-month p:first-child {
        font-size: 1rem;
        margin: 0;
    }

    .last-month p:last-child {
        font-size: 0.9rem;
    }
}